body{
    background-color: #606d80 !important;
}

.box{
    border:  5px solid #dce0e6;
}

h1{
    margin-top: 2% !important;
    margin-bottom: 6% !important;
}


.text-center{
    text-align: center;
}

.margen{
    margin: 2%;
}

.boton{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none !important;
    color: black !important;
    font-size: 12pt;

}

.margen-boton{
    padding: 1% !important;
    background-color: #e5e5e5 !important;
    border: 1px solid black !important;
}

.valido{
    color: green !important;
}

.error{
    color: red !important;
}
